@import "../../styles/variables";
@import "../../styles/mixins";
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

.header {
    background-color: lightyellow;
    .top {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        .mysvg {
            // align-self: start;
            // justify-self: start;
            // width: 5%;
            // flex: 0 0 5%;
        }
        .mytitle {
            white-space: nowrap;
            padding-bottom: 1px;
            font-family: 'Rubik', sans-serif;
        }
        .searchbar {
            padding-bottom: 6px;
            display: flex;
            flex-direction: row;
            align-items: baseline;
            margin-left: auto;
        }
        .searchbar button {
            padding: 6px 10px;
            background: #c4dbc1;
            font-size: 17px;
            border-radius: 5px;
            cursor: pointer;
        }
        .searchbar input[type=text] {
            float: right;
            padding: 6px;
            border: none;
            margin-top: 8px;
            margin-right: 16px;
            font-size: 17px;
        }
    }
}