@import "../variables";
@import "../mixins";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.commentspage {
    background-color: $tea-green;
    font-family: 'Montserrat', sans-serif;
    @include flex;
    .desc {
        flex: 0 0 100%;
    }
}