@import "../variables";
@import "../mixins";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.homepage {
    background-color: $tea-green;
    @include flex($dir: row wrap, $jc: space-around, $ai: start);
    padding: 0px 0px 78px 0px;
    .welcome {
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        text-align: center;
        flex: 0 0 95%;
        padding: 20px 10px 0px 10px; //top right bottom left
    }

    .separator {
        flex: 0 0 15%;
    }
    // .div {
    //     flex: 0 0 50%;
    //     background-color: grey;
    // }
}