@import "../../styles/variables";
@import "../../styles/mixins";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

$marginTop: 75px;

.sidepanel {
    background-color: lightyellow;//$columbia-blue;
    flex: 0 0 33%;
    padding: 5px 10px 5px 10px; //top right bottom left
    //margin-top: $marginTop;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px grey;
    width: 350px;
    ul {
        list-style: none; 
        text-align: start;
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
    }
    li {
        padding: 8px 0px 8px 0px;
    }
}

.titles {
    font-size: 30px;
    color: #043539;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    padding-top: 5px;
}

