@import "../../styles/variables";
@import "../../styles/mixins";

.navbar {
    @include flex;
    background-color: $rich-black;
            // align-items: start;
            // justify-content: space-around;
            
    ul {
        // background-color: pink;
        list-style: none;
                    // flex: 0 0 500px;
        // width: 90%;
        flex: 0 0 80%;
        @include flex;
        .navitem, .navlink{

            // width: 10%;
            color: white;
            // background-color: cyan;
            // width: 15%;
            flex: 1;
            padding: 5px 10px 5px 10px;
            align-self: center;
            border-radius: 5px;

            // @include flex;
            // flex-wrap: nowrap;
            // display: inline;
        }

        .navitem:hover {
            background: lighten($color: $rich-black, $amount: 20);
            transition: 500ms;
        }
    }

}

